{
  email jared2475@att.net
}

http://54.151.9.67.nip.io {
  redir https://54.151.9.67.nip.io{uri}
}

https://54.151.9.67.nip.io {
  root * /usr/share/caddy/build
  file_server
}

https://admin.54.151.9.67.nip.io:3000 {
  reverse_proxy  server:3000
}
