{
  email jared2475@att.net
}

http://50.18.70.176.nip.io {
  redir https://50.18.70.176.nip.io{uri}
}

https://50.18.70.176.nip.io {
  root * /usr/share/caddy/build
  file_server
  @proxy3000 {
    header Host *:3000
  }
  reverse_proxy @proxy3000 http://localhost:3000
}
